.deck {
  position: relative;
  min-height: 130px;
  overflow: hidden;
}

.back {
  width: 86px;
  height: 130px;
  background-image: url('../../assets/images/deck.png');
  background-size: 86px 130px;
  background-repeat: no-repeat;
  animation: fadeIn 20ms normal forwards ease-in;
  opacity: 0;

  @for $i from 0 through 52 {
    &:nth-child(#{$i}) {
      animation-delay: 20ms * $i;
    }
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
